body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: rgb(186,254,179);
    background: linear-gradient(45deg, rgba(186,254,179,1) 32%, rgba(0,255,201,0.6810925053615196) 71%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

